<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="employeeBean" class="com.prakhar.parwal.bean.initialize_bean_factory_method.Employee" 
		factory-method="getEmployee"></bean>
	
	<bean id="carBean" class="com.prakhar.parwal.bean.initialize_bean_factory_method.VehicleFactory"
		factory-method="getInstance" />
	
	<bean id="vehicleFactoryBean" class="com.prakhar.parwal.bean.initialize_bean_factory_method.VehicleFactory" />
	<bean id="carBeanInstance" class="com.prakhar.parwal.bean.initialize_bean_factory_method.VehicleFactory" 
		factory-method="getVehicle" factory-bean="vehicleFactoryBean" />

</beans>