<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
		
		<bean id="addressBean" class="com.prakhar.parwal.autowiring.Address">
			<property name="id" value="101"/>
			<property name="fullAddress" value="Chandigarh"/>
		</bean>
		
		<bean id="employeeBean" class="com.prakhar.parwal.autowiring.Employee" >
			<property name="id" value="01"/>
			<property name="name" value="Prakhar"/>
		</bean>
</beans>