<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	
	<bean id="personBean" class="com.prakhar.parwal.dependency_injection.Person">
		<property name="id" value="101"/>
		<property name="name" value="Prakhar" />
		<property name="address" ref="addressBean" />
		<property name="vehicles">
			<list>
				<ref bean="twoWheelerBean"/>
				<ref bean="fourWheelerBean"/>
			</list>
		</property>
		
		<property name="bankAccounts">
			<set>
				<ref bean="axisAccount"/>
				<ref bean="unionAccount"/>
				<ref bean="hdfcAccount"/>
				<ref bean="axisAccount"/> <!--  Maintaining uniqueness -->
			</set>
		</property>
		
		<property name="customObjects">
			<map>
				<entry key="1" value-ref="customObject1"/>
				<entry key="2" value-ref="customObject2"/>
			</map>
		</property>
		
		
		<property name="properties">
			<props>
				<prop key="propKey1">PropValue1</prop>
			</props>	
		</property>
		
	</bean>
	
	<bean id="axisAccount" class="com.prakhar.parwal.dependency_injection.BankAccount">
		<property name="accountNumber" value="123456"/>
		<property name="type" value="1"/>
	</bean>

	<bean id="unionAccount" class="com.prakhar.parwal.dependency_injection.BankAccount">
		<property name="accountNumber" value="123457"/>
		<property name="type" value="1"/>
	</bean>

	<bean id="hdfcAccount" class="com.prakhar.parwal.dependency_injection.BankAccount">
		<property name="accountNumber" value="123458"/>
		<property name="type" value="2"/>
	</bean>

	
	<bean id="addressBean" class="com.prakhar.parwal.dependency_injection.Address">
		<property name="houseNumber" value="101"/>
		<property name="street" value="TestStreet"/>
		<property name="city" value="Mohali"/>
		<property name="state" value="Punjab" />
		<property name="country" value="India" />
	</bean>
	
	<bean id="twoWheelerBean" class="com.prakhar.parwal.dependency_injection.Vehicle">
		<property name="type" value="1"/>
		<property name="name" value="Twister"/>
	</bean> 
	
	<bean id="fourWheelerBean" class="com.prakhar.parwal.dependency_injection.Vehicle">
		<property name="type" value="2"/>
		<property name="name" value="i20"/>
	</bean>
	
	<bean id="customObject1" class="com.prakhar.parwal.dependency_injection.CustomObject">
		<property name="id" value="101"/>
	</bean>
	
	<bean id="customObject2" class="com.prakhar.parwal.dependency_injection.CustomObject">
		<property name="id" value="102"/>
	</bean>
	
	
	
</beans>