<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	
	<bean id="personBean" class="com.prakhar.parwal.dependency_injection.Person">
		<property name="id" value="101"/>
		<property name="name" value="Prakhar" />
		<property name="address" ref="addressBean" />
		<property name="vehicles">
			<list>
				<ref bean="twoWheelerBean"/>
				<ref bean="fourWheelerBean"/>
			</list>
		</property>
	</bean>
	
	<bean id="addressBean" class="com.prakhar.parwal.dependency_injection.Address">
		<property name="houseNumber" value="101"/>
		<property name="street" value="TestStreet"/>
		<property name="city" value="Mohali"/>
		<property name="state" value="Punjab" />
		<property name="country" value="India" />
	</bean>
	
	<bean id="twoWheelerBean" class="com.prakhar.parwal.dependency_injection.Vehicle">
		<property name="type" value="1"/>
		<property name="name" value="Twister"/>
	</bean> 
	
	<bean id="fourWheelerBean" class="com.prakhar.parwal.dependency_injection.Vehicle">
		<property name="type" value="2"/>
		<property name="name" value="i20"/>
	</bean>
</beans>